SERVICE_NAME=go-microservice-template
HTTP_ADDRESS=:3002
LOG_LEVEL=debug

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_PORT=5434
DATABASE_URL=postgres://app:app@localhost:5434/app?sslmode=disable

REDIS_PORT=6380
REDIS_ADDR=localhost:6380

NATS_PORT=4222
NATS_MONITOR_PORT=8222
NATS_URL=nats://localhost:4222

NGINX_PORT=8080

DOMAIN=go-template.dev.local
TRAEFIK_ROUTER=go-template
TRAEFIK_ENTRYPOINTS=web,websecure
TRAEFIK_CERTRESOLVER=myresolver
TRAEFIK_NETWORK=traf-external
